<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Movie Website</title>

  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="../static/home.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../static/js/home.js"></script>
  <!-- <script src="../static/js/team.js"></script> -->


  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="sidebar">
    <div class="row mr-0">
      <div class="col-2 col-sidebar pl-4 includedContent" style="height: 100vh;">
        <!--  -->
        <!--  -->
        <!--  -->

        <h2 class="mt-5 pb-4" id="name-app" style="text-align: center; font-weight: 800;">Cloudy</h2>
        <div class="sidebar-teams-noti">
          <ul class="pl-0">
            <a href="#">
              <li style="background-color: var(--color-bg-sidebar-li);">
                <i class="fa-solid fa-users" style="font-size: 16px;"></i>
                <p>Teams</p>
              </li>
            </a>

            <a href="#">
              <li>
                <i class="fa-regular fa-bell pl-1" style="margin-right: 12px; padding-right: 0px;"></i>
                <p>Notifications</p>
              </li>
            </a>
          </ul>
        </div>

        <div class="sidebar-img-username" style="position: absolute; bottom: 20px; width: 180px;">
          <div>
            <img src="../static/img/vebinh1.jpg" alt="username" style="display: inline-block;">
            <p class="ml-2 mb-0" id="name_user"
              style="display: inline-block; max-width: 150px; word-wrap: break-word; vertical-align: middle;">
              username</p>

          </div>
          <a href="#"><i class="fa-solid fa-arrow-right-from-bracket log_out"
              style="float: right; display: block;"></i></a>
        </div>

        <!--  -->
        <!--  -->
        <!--  -->
      </div>



      <div class="col-10">
        <div class="header ml-5 mb-4">
          <div class="search-and-filter" style="display: inline-flex;">
            <div class="search-box" style="display: inline;">
              <button type="search"> <i class="material-icons"
                  style="vertical-align: middle; font-size: 24px;">search</i>
              </button>
              <input type="text" placeholder="Search team">
            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false" id="filter-btn"><i class="material-icons"
                style="font-size:24px; vertical-align: middle;">filter_list</i></button>
            <ul class="dropdown-menu mt-2 ul-filter-team" style="width: 100px;">
              <li><a class="dropdown-item" id="filter-all" href="#" style="background-color: #5A5A72;">All<i
                    class="fa-solid fa-check" style="float: right; margin-top: 3px; display: block;"
                    id="check-filter-all"></i></a></li>
              <li><a class="dropdown-item" id="filter-alpha" href="#">A-Z<i class="fa-solid fa-check"
                    style="float: right; margin-top: 3px; display: none;" id="check-filter-alpha"></i></a></li>
              <li><a class="dropdown-item" id="filter-reverse-alpha" href="#">Z-A<i class="fa-solid fa-check"
                    style="float: right; margin-top: 3px; display: none;" id="check-filter-reverse-alpha"></i></a></li>
            </ul>
          </div>

          <div class="dropdown-center btn-join-team" style="float: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-user-plus mr-3" style="display: inline;"></i>
              <p style="display: inline; font-size: 14px;">Join or create team</p>
            </button>
            <ul class="dropdown-menu mt-2" style="width: 237px;">
              <li><a class="dropdown-item" id="openPopupJoinTeamBtn" href="#">Join team with a code</a></li>
              <li><a class="dropdown-item" id="openPopupcreateTeamBtn" href="#">Create team</a></li>
            </ul>
          </div>
        </div>

        <!-- Container list team -->
        <div class="list-team">
          <div>
            <div class="row div-list-team">
              <!-- <a href="team.html" class="col-2 team"
                style="margin-bottom: 34px; margin-right: 16px; margin-left: 18px;">
                <div class="team-element">
                  <div class="img-div"></div>
                </div>
                <br>
                <h6>Network Programing</h6>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup Join team -->
    <div class="popup" id="joinTeamPopup">
      <div class="popup-content">
        <i class="fa-solid fa-users" style="font-size: 16px;"></i>
        <h5>Join team with a code</h5>
        <div style="display: inline-flex; margin-top: 20px;">
          <input type="text" placeholder="Code" class="code-team-inp">
          <button class="btn btn-success join-team-btn" style="background-color: #4D4D4D;">Join team</button>
        </div>

        <p class="p-message" id="p-message-code-team"></p>
      </div>
    </div>

    <!-- Popup Create team -->
    <div class="popup" id="createTeamPopup">
      <div class="popup-content">
        <i class="fa-solid fa-users" style="font-size: 16px;"></i>
        <h5>Create your team</h5>
        <div class="div-create-team" style="display:flex; margin-top: 20px; flex-direction: column;">
          <input type="text" placeholder="Team name" class="create-team-inp">
          <input type="text" id="create-team-des" placeholder="Description" style="margin-bottom: 3px;">
          <p class="p-message" id="p-message-create-team">The team name already exists</p>
          <button class="btn btn-success next-btn create-team-btn"
            style="margin-left: auto; background-color: #4D4D4D; margin-top: 18px;"
            id="next-btn-create-team">Next</button>
        </div>


      </div>
    </div>

    <!-- Popup Add Member -->
    <div class="popup" id="addMemberPopup">
      <div class="popup-content">
        <i class="fa-solid fa-users" style="font-size: 16px;"></i>
        <h5>Add members</h5>
        <div class="div-add-member" style="display:flex; margin-top: 20px; flex-direction: column;">
          <div class="add-member-team-code" style="display: flex;">
            <div class="team-code" style="display: flex;" id="teamCode">
              <input id="code_new_team" type="text" placeholder="" readonly>
              <button id="copyButton"><i class="fa-regular fa-copy"></i></button>
            </div>
            <button class="refresh-btn"><i class="fa-solid fa-rotate-left"></i></button>
          </div>
          <p>Share this code so people can join the team directly</p>

          <!-- Add member -->
          <div class="add-member-invite-member" style="display: flex; ">
            <div class="div-invite-member">
              <div class="name-add" style="display: flex;">

              </div>

              <div class="div-invite-inp">
                <input type="text" id="add-member-invite-member-inp" placeholder="Invite member">
                <ul id="dropdown-list" style="position: absolute;"></ul>
              </div>
            </div>

            <button><i class="fa-solid fa-user-plus"></i></button>
          </div>
          <br>
          <button class="btn btn-success skip-btn" style="margin-left: auto; width: 100px;">Skip</button>
        </div>
      </div>
    </div>

    <!-- Popup Notification -->

    <!-- Join team  -->
    <div class="popup" id="joinTeamNotiPopup">
      <div class="popup-content popup-border-bot" style="padding: 5px 20px;">
        <div style="display: flex;" class="deleted">
          <i class="fa-solid fa-check"></i>
          <h6>Join team successfully</h6>
        </div>
      </div>
    </div>

    <!-- Create team  -->
    <div class="popup" id="createTeamNotiPopup">
      <div class="popup-content popup-border-bot" style="padding: 5px 20px;">
        <div style="display: flex;" class="deleted">
          <i class="fa-solid fa-check"></i>
          <h6>Create team successfully</h6>
        </div>
      </div>
    </div>

    <script>
      logOut = document.querySelector('.log_out');
      logOut.addEventListener('click', function () {
        window.location.href = `/login`;
      });

      var account = "{{ account }}";
      var list_team_str = "{{ list_team|safe }}";
      var code_team_str = "{{ code_team|safe }}";

      document.querySelector('#name_user').textContent = account;

      var list_team = JSON.parse(list_team_str.replace(/'/g, '"'));
      var code_team = JSON.parse(code_team_str.replace(/'/g, '"'));
      console.log(account);
      console.log(list_team);
      console.log(code_team);

      var container = document.querySelector('.div-list-team');
      console.log(list_team.length);

      var click_aTags = [];
      // Tạo các thẻ <a> dựa trên mảng list_team và code_team
      for (var i = 0; i < list_team.length; i++) {
        var aTag = document.createElement('a');
        aTag.setAttribute('id', code_team[i]);
        aTag.classList.add('col-2', 'team');
        aTag.style.marginBottom = '34px';
        aTag.style.marginRight = '16px';
        aTag.style.marginLeft = '18px';

        var teamElementDiv = document.createElement('div');
        teamElementDiv.classList.add('team-element');

        var imgDiv = document.createElement('div');
        imgDiv.classList.add('img-div');

        teamElementDiv.appendChild(imgDiv);
        aTag.appendChild(teamElementDiv);

        var brTag = document.createElement('br');
        aTag.appendChild(brTag);

        var h6Tag = document.createElement('h6');
        h6Tag.textContent = list_team[i];
        aTag.appendChild(h6Tag);

        container.appendChild(aTag);

        const linkToTeam = document.querySelector(`#${code_team[i]}`);
        click_aTags.push(linkToTeam);
      }

      click_aTags.forEach(function (click_aTag) {
        click_aTag.addEventListener('click', function () {
          window.location.href = `/team/${click_aTag.id}`;
          // console.log("Đã click vào thẻ có ID:", click_aTag.id);

          fetch(`/team/${click_aTag.id}?account=${account}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            },
          })
            .then(() => {
              console.log("Request sent successfully.");
            })
            .catch(error => {
              console.error('Error:', error);
            });
        });
      });

      let codeTeamInput = document.querySelector('.code-team-inp');
      let joinTeamBtn = document.querySelector('.join-team-btn');
      let messageCodeTeam = document.querySelector('#p-message-code-team');
      let joinTeamPopup = document.querySelector('#joinTeamPopup');
      let joinTeamNotiPopup = document.querySelector('#joinTeamNotiPopup')

      if (joinTeamBtn) {
        joinTeamBtn.addEventListener('click', function () {
          let inputValue = codeTeamInput.value.trim();

          // Gửi dữ liệu code lên 
          fetch('/check-join-team', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ account: account, code: inputValue }),
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              console.log(data.message);
              if (data.message === "1060") {
                messageCodeTeam.style.display = "none";
                joinTeamPopup.style.display = 'none';
                joinTeamNotiPopup.style.display = 'block';

                setTimeout(function () {
                  joinTeamNotiPopup.style.display = "none";
                }, 1000);
              } else if (data.message === "2011") {
                messageCodeTeam.innerText = "Chưa nhập đủ các trường thông tin";
                messageCodeTeam.style.display = "block";
              } else if (data.message === "2061") {
                messageCodeTeam.innerText = "Mã code không tồn tại";
                messageCodeTeam.style.display = "block";
              } else if (data.message === "2062") {
                messageCodeTeam.innerText = "Bạn đã tham gia team này rồi";
                messageCodeTeam.style.display = "block";
              } else {
                console.log("Wrong")
              }
              // Xử lý phản hồi từ server nếu cần
            })
            .catch((error) => {
              console.error('Error:', error);
            });

        });
      }
      let createTeamInput = document.querySelector('.create-team-inp');
      let createTeamBtn = document.querySelector('.create-team-btn');
      let teamNameInput = document.querySelector('.create-team-inp');
      let messageCreateTeam = document.querySelector('#p-message-create-team');
      let createTeamPopup = document.getElementById("createTeamPopup");
      let addMemberPopup = document.getElementById("addMemberPopup");

      if (createTeamBtn) {
        createTeamBtn.addEventListener('click', function () {
          let inputValue = teamNameInput.value.trim();  // Loại bỏ các khoảng trắng từ đầu và cuối chuỗi

          fetch('/check-create-team', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ account: account, team_name: inputValue }),
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              console.log(data.message);
              if (data.message === "1040") {
                messageCreateTeam.style.display = "none";
                createTeamPopup.style.display = 'none';
                addMemberPopup.style.display = 'block';
                document.getElementById("code_new_team").placeholder = data.code_team;
                
              } else if (data.message === "2011") {
                messageCreateTeam.innerText = "Chưa nhập đủ các trường thông tin";
                messageCreateTeam.style.display = "block";
              } else if (data.message === "2041") {
                messageCreateTeam.innerText = "Tên nhóm đã tồn tại";
                messageCreateTeam.style.display = "block";
              } else {
                console.log("Wrong Create Team")
              }
              // Xử lý phản hồi từ server nếu cần
            })
            .catch((error) => {
              console.error('Error:', error);
            });

        });
      }


    </script>
</body>

</html>